.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/

# Ignore Raw Data
data/

# Ignore Output Data
out/
node_modules/


# Ignore GUI till ready for release
/src/Fishing_Line_Flyback_Impact_Analysis/gui/

# Ignore Legacy
/src/Fishing_Line_Flyback_Impact_Analysis/legacy/


# ignore outputs and plots
*.png
*.pdf
*.csv
*.h5
impulse_analysis

.DS_Store
